.videoContainer {
    width: 750px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-success {
    width: 200px;
    margin-bottom: 30px;
}

video {
    width: 700px;
    border-radius: 30px;
}

.chatContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    min-height: 500px;
    height: 100vh;
    box-shadow: -10px 0px 10px 1px #2b2f5c;
}

.messagesContainer {
    min-height: 350px;
    height: 70vh;
    background-color: rgb(213, 229, 236);
}

.navbarClass {
    height: 8vh;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbarClass > p {
    width: 180px;
    margin-top: 2vh;
    text-align: center;
}

.navbarClass > button {
    width: 120px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
}

.navbarClass > button:hover {
    border: 1px rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    color: #fff;
}

.displayMessages {
    height: 62vh;
    padding: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.displayMessages::-webkit-scrollbar {
    display: none;
}

.moderadorMessage {
    width: 280;
    background: red;
    text-align: center;
    border-radius: 15px;
}

.usernameMessage {
    position: relative;
    width: 150px;
    height: 22px;
    border-radius: 15px;
    background: #fff;
    text-align: center;
}

.R {
    margin-left: 130px;
}

.L {
    margin-right: 150px;
}

.contentMessage {
    position: relative;
    width: 220px;
    height: auto;
    text-align: center;
}

.RM {
    margin-left: 60px;
}

.LM {
    margin-right: 80px;
}

.writeContainer {
    height: 30vh;
    background-color: rgb(213, 229, 236);
}

.writeContainer > textarea {
    height: 23vh;
    width: 280px;
    margin-left: 10px;
    margin-top: 1vh;
    border-radius: 30px;
    outline: none;
    padding: 8px;
}

.buttonContainer {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonContainer > p {
    width: 180px;
    text-align: center;
    margin-top: 2px;
}

.buttonContainer > button {
    width: 120px;
    margin-top: -13px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
}

.buttonContainer > button:hover {
    border: 1px rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    color: #fff;
}